.App {
  text-align: center;
}

body {
  background-color: rgb(45, 169, 185);
}

a {
  color: rgba(0, 0, 255, 0.445);
  text-decoration: none;
}
ul {
  list-style: none;
  font-size: 12pt;
  text-align: left;
  padding-left: 0;
}

p {
  color: black;
  font-size: 10pt;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(171, 193, 196);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
